.card {
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    overflow: hidden;
}

.header {
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.title {
    font-weight: 600;
    line-height: 1;
}

.content {
    padding: var(--spacing-md);
    padding-top: 0;
}

.footer {
    padding: var(--spacing-md);
    padding-top: 0;
    display: flex;
    align-items: center;
}